<div class="main">
    <div class="container22">
        <div class="imgDiv">
            <img src="../../assets/facebook-img.svg" alt="">
            <h2>Facebook helps you to connect and share with the people in your life.</h2>
        </div>
        
        <div class="loginForm">
            <div class="login">
            <p style="color:red">login</p>
            <img src="../../assets/facebook-img.svg" alt="">
            <h2>Facebook helps you to connect and share with the people in your lifefkjhsdfslidjfjsddsfsdfds.</h2>
        </div>
       </div>
        
    </div>
</div>